.pageLayout {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;

  .pageNameContainer {
    padding: var(--space-md);
    animation: animatePageNameView 1s ease-out 4s forwards;
    min-height: 100vh;
    overflow: hidden;

    .pageName {
      animation: 2s ease-out 1s both animatePageName;
      background: linear-gradient(
        to bottom,
        var(--color-primary),
        var(--color-primary-dark)
      );
      background-clip: text;
      color: transparent;
      font-size: clamp(6rem, 6rem + 5vw, 16rem);
      line-height: 90%;
      font-family: var(--font-title);
    }
  }

  .contentContainer {
    animation: animateMainView 1s ease-out 4s forwards;
    padding: var(--space-md) var(--space-md) var(--space-xl) var(--space-md);
    min-height: 100vh;

    .content {
      border-radius: var(--rounded);
      background-color: var(--color-dark);
      width: 100%;
      height: 100%;

      .main {
        position: absolute;
        z-index: 1;
        padding: 0 var(--space-sm);
        padding: 0 2vw;
        height: 100%;
      }

      .aside {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .image {
          width: 100%;
          height: 94vh;
          object-position: center;
          object-fit: cover;
          opacity: 0.1;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .pageLayout {
    .contentContainer {
      .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .main {
          position: relative;
        }
      }
    }
  }
}

@keyframes animatePageName {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateY(30%);
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes animatePageNameView {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes animateMainView {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0;
    filter: blur(10px);
  }
  40% {
    transform: translateY(-100vh) scale(0.8);
    opacity: 1;
    filter: blur(10px);
  }
  70% {
    transform: translateY(-100vh) scale(0.8);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateY(-100vh) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
